{% extends 'knp_menu.html.twig' %}

{% block linkElement %}
    {% import _self as knp_menu %}
    {% set classes = item.linkAttributes('class') is not empty ? [item.linkAttributes('class')] : [] %}
    {% do item.setLinkAttribute('class', classes|merge(['sidebar-link'])|join(' ')) %}
    <a href="{{ item.uri }}"{{ knp_menu.attributes(item.linkAttributes) }}>
        <i class="align-middle" data-feather="{{ item.attribute('icon') }}"></i>
        <span class="align-middle">{{ block('label') }}</span>
    </a>
{% endblock %}

{% block item %}
    {% set classes = item.attribute('class') is not empty ? [item.attribute('class')] : [] %}
    {% do item.setAttribute('class', classes|merge(['sidebar-item'])|join(' ')) %}
    {{ parent() }}
{% endblock %}
